<a href="https://colab.research.google.com/github/visiont3lab/machine-learning-course/blob/main/python/ExcerciseRandomNamesTable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install names datetime pandas numpy

In [4]:
# crea un algoritmo che ritorna 10 nomi random casuali
import names as n
import pandas as pd
import numpy as np
from datetime import datetime

def save_random_names(n_names, save_file=False):

  collection_nomi = []
  collection_cognomi = []

  for i in range(0,n_names):
    nome_completo = n.get_full_name()
    res = nome_completo.split(" ")
    nome = res[0]
    cognome = res[1]
    collection_nomi.append(nome)
    collection_cognomi.append(cognome)

  eta = np.random.randint(20,45,n_names)

  df_res = {
      "nome": collection_nomi,
      "cognome": collection_cognomi,
      "eta": list(eta)
  }

  df = pd.DataFrame(df_res)

  if save_file == True:
    data = datetime.now()
    data = data.strftime("%d-%m-%Y_%H:%M:%S")
    df.to_excel(data+".xlsx")
    df.to_csv(data+".csv")

  return df

df = save_random_names(n_names=5, save_file=True)
df

      nome   cognome  eta
0    Carol  Harrison   41
1    Irene    Bailey   40
2    Carol     Weiss   32
3  William    Miller   23
4    David     Odell   25